/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2;
*/
*{
	margin: 0;
	padding: 0;
}
body{

	font-family: 'Raleway', sans-serif;
	background-image: url('../img/cropped-Lyft-Promo-Codes-car-1.jpg');

}
/*Menu*/
.container{
	position: fixed;
	display: inline-block;
	background-color: #E54E79;
	width: 1440px;
	z-index: 9999;

}
#logo{
	width: 70px;
	position: relative;
	left: 300px;
	bottom: -10px;
}
.menu{
	position: relative;
	left: 1100px;
	bottom: 30px;
	color: whitesmoke;
}
#drive{
	position: relative;
	right: 50px;
}
#explore{
	position: relative;
	left: -20px;
}
#help{
	position: relative;
	left: 10px;
}
#guardar-imagen{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 700px;
    background-size: 100%;
    background-image: url('../img/cropped-Lyft-Promo-Codes-car-1.jpg');
    background-repeat:no-repeat;
}
.registro{
	background:#EDE9E2;
	position: relative;
	width:500px;
	height:450px;
	bottom:-196px;
	left:940px;
	margin:0;
	padding:0;
}
#turn{

	color:#00B2A9;
	position: absolute;
	left: 50px;
	top:50px;
}
#sing {
    position: absolute;
    left: 50px;
    bottom:318px;
    color:#75726C;
}

#telefono{
	position: absolute;
	    left: 50px;
    bottom: 260px;
    color:#75726C;

}
#textoInvitar{

	display: block;
	left: 50px;
    bottom: 77px;
    color:black;
    position: absolute;
}

.phone{
	position: relative;
	top: 61px;
	border-right: none;
	border-left: none;
	border-top: none;
	width: 404px;
	border-bottom: 1px solid #75726C;;
	background-color:#EDE9E2; 
	font-size: 15px;
    padding: 8px;

}
.botonn {
    color: white;
    width: 239px;
    padding: 10px;
    background-color: #E54E79;
    border-radius: 12px;
    position: relative;
    top: 82px;
    font-size: 20px;
    border: transparent;
    }

/*PLAY WITH LYFT */
.fondoverde {
    background-color: #00B2A9;
    position: relative;
    height: 500px;
    top: 630px;
    padding-top: 67px;
    top: 335px;
}
.playwithlyft{
	width: 100%
	position: relative;
	top: 50px;
	height: 80px;
	width: 100%;
	background-color:#EDE9E2;
	text-align: center;
}
#tituloPlay{
	font-size: 50px;
	color: #75726C;
	position:relative;

	top:10px;
}
/*JUEGO AUTOS*/

.boton2{
    color: white;
    width: 816px;
    padding: 10px;
    background-color: #00B2A9;
    border-radius: 12px;
    position: relative;
    top: 135px;
    font-size: 20px;
    border: transparent;
    left: 44px;
}
.autos{
	background-color: #EDE9E2;
	width: 850px;
	height: 150px;
	position: relative;
	top: 100px;
	left: 306px;
	right: 200px;
	padding-top: 50px;
	text-align: center;
}
.fa-car{
	color: #75726C;
	font-size: 30px;
	padding-left: 10px;
}
#xcorde, #ycorde{
	background-color: #EDE9E2;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 1px solid #75726C;
	width: 320px;
	height: 40px;
	color: #75726C;
}
#xcorde:focus, #ycorde:focus{
	outline: 0px;
}
.start{
	color: white;
	text-transform: uppercase;
	width: 800px;
	margin-top: 20px;
	padding: 10px;
	background-color: #00B2A9;
	border-radius: 12px;
	border-right-style: none;
	border-bottom-style: solid;
	cursor: pointer;
	outline: 0px;
	border: none;
}
/*TERCERA PARTE DE LA PAGINA*/
/*footer*/
.piepagina {
    background-color: #6a6762;
    z-index: 2;
    position: relative;
    top: 200px;
    color: whitesmoke;
    padding: 26px;

}
.laboratoria {
    position: absolute;
    left: 303px;
}
#moreLinks {
    color: whitesmoke;
    position: relative;
    top: -4px;
    left: 1121px;
    text-decoration: none;
}
/*CSS dentro del fondo gris */
#fondogris {
    background-color: #75726C;
    position: relative;
    height: 200px;
    top: 630px;
    padding-top: 67px;
    top: 335px;
}

#sprint {
    color: whitesmoke;
    position: absolute;
    left: 303px;
    font-size: 26px;
}
#canYou {
    position: absolute;
    left: 303px;
    top: 108px;
    color: whitesmoke;
}
/*LINKS */

#linkseccion3{
	position: absolute;
    left: 952px;
	font-size: 26px;
	color: whitesmoke;
}
.linkss {
    display: block;
    position: absolute;
    left: 952px;
    top:108px;
}
a{
	text-decoration: none;
	color: whitesmoke;
}




