/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2;
*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;


}
.container{
	position: fixed;
	display: inline-block;
	background-color: #E54E79;
	width: 1440px;
	z-index: 9999;

}
#logo{
	width: 70px;
	position: relative;
	left: 300px;
	bottom: -10px;
}
.menu{
	position: relative;
	left: 1100px;
	bottom: 30px;
	color: whitesmoke;
}
#drive{
	position: relative;
	right: 50px;
}
#explore{
	position: relative;
	left: -20px;
}
#help{
	position: relative;
	left: 10px;
}
.celular{
	display:block;
	width: 100%;
	position: static;
	background-repeat: no-repeat;
	background-size: cover;
}
.registro{
	background:#EDE9E2;
	position: absolute;
	width:500px;
	height:450px;
	bottom: -11px;
	left: 949px;
	margin:0;
	padding:0;

}
#turn{

	color:#00B2A9;
	position: absolute;
	left: 50px;
	top:50px;
}
#sing {
    position: absolute;
    left: 50px;
    bottom: 281px;
}